/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Root */
:root {
  /* Colours */
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
  /* Typography */
  --body-font-size: 16px;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;
}

/* Body Reset */
*, *::before, *::after { box-sizing: border-box; }

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: var(--body-font-size) 'Work Sans', sans-serif;
}

ul[class], ol[class] { list-style: none; }

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select { font: inherit; }

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Body */